.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.ham-top,
.ham-mdl,
.ham-btm {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 2px;
  background: white;
  transform: rotate(0);
  transition: all 0.5s;
}

.ham-mdl {
  transform: translateY(9px);
}

.ham-btm {
  transform: translateY(18px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .ham-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .ham-mdl {
  display: none;
}

.open .ham-btm {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
